@use "variables" as *;

// ************************ BACKGROUND COLORS ************************ //

%Bg_Primary_Color {
    background-color: $bg-primary-color;
}

%Bg_Secondary_Color {
    background-color: $bg-secondary-color;
}

%Bg_Main_Color {
    background-color: $bg-main-color;
}

%Bg_Sidebar_Color {
    background-color: $bg-sidebar-color;
}

.Bg_Primary_Color {
    @extend %Bg_Primary_Color;
}

.Bg_Secondary_Color {
    @extend %Bg_Secondary_Color;
}

.Bg_Main_Color {
    @extend %Bg_Main_Color;
}

.Bg_Sidebar_Color {
    @extend %Bg_Sidebar_Color;
}

// ************************ FONT COLORS ************************ //
%Font_Title_Color {
    color: $font-title-color;
}

%Font_Subtitle_Color {
    color: $font-subtitle-color;
}

.Font_Title_Color {
    @extend %Font_Title_Color;
}

.Font_Subtitle_Color {
    @extend %Font_Subtitle_Color;
}