// ************************ COLORS ************************ //

// Background colors
$bg-primary-color: #6a0dad;
$bg-secondary-color: #4169e1;
$bg-main-color: #0b132a;

// Font colors
$font-title-color: #ffffff;
$font-subtitle-color: #808080;

// Semantic colors
$success-color: #198754;
$danger-color: #ff0000;
$alert-color: #ffa500;
$pending-color: #0074d9;


// ************************ FONTS ************************ //


// Font families
$font-family-lato: Lato + ", sans-serif";
$font-family-karla: Karla + ", sans-serif";

// Font sizes
$font-size-base: 1rem;

// Font weights
$font-weight-regular: 400;
$font-weight-bold: 700;
